<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>933847402820-05hsse2hlsra8ot2ut8t9qjnagf66pj0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.933847402820-05hsse2hlsra8ot2ut8t9qjnagf66pj0</string>
	<key>API_KEY</key>
	<string>AIzaSyAzYu0OpKZwrrRyUfRLJhPWKBbwIccV2rI</string>
	<key>GCM_SENDER_ID</key>
	<string>933847402820</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Bradlee.King.Unshackled</string>
	<key>PROJECT_ID</key>
	<string>unshackled-97edf</string>
	<key>STORAGE_BUCKET</key>
	<string>unshackled-97edf.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:933847402820:ios:45a861f5daf12fbb792f11</string>
</dict>
</plist>